<app-social></app-social>

<section class="main-section">
    <div class="headline">
        <p class="text-p1">Olá, eu sou</p><br>
        <h1 class="text-p2">Gabriel</h1><br>
        <h2 class="text-p2">Rodrigues</h2><br>
        <p class="text-p3">Desenvolvedor Full Stack</p>

        <div class="technologies">
            <img src="assets/images/c-sharp.png">
            <img src="assets/images/angular.png">
            <img src="assets/images/spring.png">
            <img src="assets/images/react.png">
            <img src="assets/images/php.png">
        </div>
    </div>
    <div class="image">
        <img src="assets/images/perfil-photo.png">
    </div>
</section>

<section class="about-me" id="about-me">
    <h2 class="title">SOBRE</h2>
    <p class="description">Sou um profissional experiente no desenvolvimento de soluções web robustas e escaláveis, com
        forte foco na entrega de valor ao cliente. Tenho especialização em C# e ASP.NET Core, além de experiência com
        Angular, React, Java, Spring Boot e PHP. Ao longo da minha carreira, sempre busquei otimizar processos e criar
        interfaces dinâmicas, melhorando a experiência do usuário.</p>
    <p class="description">Minhas habilidades técnicas são complementadas por uma abordagem colaborativa e comunicativa,
        o que me permite trabalhar de forma eficaz em equipes multidisciplinares. Tenho facilidade em resolver problemas
        complexos e estou sempre disposto a aprender e aplicar novas tecnologias.</p>
    <p class="description">Com experiência na implementação de infraestruturas em nuvem (AWS), garanto alta
        disponibilidade e desempenho para as aplicações que desenvolvo. Sou apaixonado pelo que faço e acredito que a
        inovação constante é a chave para o sucesso.</p>

    <h2 class="subtitle"> - EXPERIÊNCIAS PROFISSIONAIS -</h2>

    <ul class="list-container">
        <li class="list">
            <span class="dot"></span>
            <div class="content">
                <span class="list-title">🟠 DESENVOLVEDOR FULL STACK</span>
                <span class="list-subtitle">ESTUDIE EDUCACIONAL</span>
                <p class="description">Atualmente, atuo na Estudie Educacional, desempenhando papéis chave no
                    desenvolvimento da empresa. Entre minhas responsabilidades, destaco a recriação e remodelagem do
                    banco de dados, a participação na definição de tecnologias e a criação e gestão de tarefas para o
                    desenvolvimento de novas funcionalidades. Sou responsável pela configuração e otimização da
                    infraestrutura na cloud AWS, garantindo alta disponibilidade e performance das aplicações.</p>
                <p class="description">Além disso, coloco em prática minha habilidade de comunicação e liderança,
                    contribuindo ativamente na gestão e organização do time, sempre buscando promover a colaboração e
                    eficiência. Tenho um forte foco em resolução de problemas, com capacidade para tomar decisões
                    estratégicas e rápidas, sempre alinhadas aos objetivos da empresa. Meu trabalho é orientado para a
                    inovação contínua, buscando soluções que tragam resultados concretos e alinhados às necessidades do
                    negócio.</p>
                <p class="description">Com minha postura proativa, fui capaz de antecipar demandas e implementar
                    melhorias nos processos internos, otimizando a performance e a qualidade do trabalho da equipe.
                    Busco constantemente me atualizar nas melhores práticas e tecnologias, o que me permite agir com
                    agilidade e adaptabilidade em um ambiente em constante evolução.</p>
            </div>
        </li>
        <li class="list">
            <span class="dot"></span>
            <div class="content">
                <span class="list-title">🟠 DESENVOLVEDOR FULL STACK</span>
                <span class="list-subtitle">CRIANÇA INOCENTE - REFORÇO ESCOLAR</span>
                <p class="description">Fui responsável pelo desenvolvimento de um CRM para uma instituição de reforço
                    escolar, utilizando C# e .NET com ASP.NET Core para a criação de APIs escaláveis e eficientes.
                    Desenvolvi uma interface dinâmica e intuitiva com Angular, proporcionando aos usuários uma
                    experiência fluida e personalizada.</p>
                <p class="description">Utilizei o Entity Framework para gerenciar dados e realizar integrações com
                    bancos de dados, garantindo a integridade e o desempenho das operações. Para a segurança e
                    autenticação dos usuários, implementei o Microsoft Identity, oferecendo uma solução robusta e em
                    conformidade com as melhores práticas de segurança.</p>
                <p class="description">Além das competências técnicas, adotei uma abordagem colaborativa e orientada a
                    resultados. Fui proativo na identificação e resolução de problemas, trabalhando de forma ágil para
                    atender às necessidades da empresa e dos clientes. Minha capacidade de adaptação a novas tecnologias
                    e de comunicação eficaz com diferentes stakeholders me permitiu liderar processos de desenvolvimento
                    complexos, sempre com foco na entrega de soluções de alto impacto.</p>
            </div>
        </li>
    </ul>
</section>

<section class="projects" id="projects">
    <div>
        <h3 class="title">PROJETOS</h3>
        <p class="subtitle">Aqui você vai encontrar os principais projetos que construi ou participei</p>
    </div>

    <div class="project">
        <p class="project-name">MyInvest</p>

        <p class="description">MyInvest é uma aplicação web composta por uma API desenvolvida em C# | ASP.NET e um
            cliente web em Angular. O objetivo do sistema é fornecer informações detalhadas sobre a carteira de ativos
            dos usuários, calculando o preço-teto (modelo de Bazin) para ações e FIIs e sugerindo a compra ou não do
            ativo com base no preço atual < preço-teto.</p>

                <p class="description">O principal objetivo do MyInvest é ajudar investidores a tomar decisões
                    informadas sobre a compra de ações e FIIs, com base no cálculo do preço-teto segundo o
                    modelo de Décio Bazin. A aplicação oferece uma interface intuitiva para que os usuários possam
                    visualizar e gerenciar suas carteiras de ativos, recebendo sugestões de compra ou venda.</p>

                <div class="image">
                    <img src="assets/images/myinvest-1.png">
                    <img src="assets/images/myinvest-4.png">
                </div>

                <button class="more-info-button" (click)="showMoreInfo('myInvest')" #myInvestMoreInfoButton>mais
                    informações</button>

                <div class="info" #myInvestInfo>
                    <p class="info-title">- Equipe de Desenvolvimento -</p>
                    <p class="info-content"><a href="https://www.linkedin.com/in/marcosmoraisjr/" target="_blank"><i
                                class="fa-brands fa-linkedin person-icon"></i></a>Marcos Morais (Autor)</p>
                    <p class="info-content"><a href="https://www.linkedin.com/in/gabrielcruzrodrigues/"
                            target="_blank"><i class="fa-brands fa-linkedin person-icon"></i></a>Gabriel Rodrigues
                        (Desenvolvedor)</p>

                    <p class="info-title">- Video demonstrativo -</p>
                    <div class="player">
                        <iframe width="100%" height="100%" [src]="myInvestUrlVideo" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </div>

                    <p class="info-title">- Funcionalidades Principais -</p>
                    <ul class="info-ul">
                        <li><span class="emphasis">Cálculo do Preço-Teto:</span> Utiliza o modelo de Décio Bazin para
                            calcular o preço-teto de ações e
                            FIIs, indicando se o ativo está abaixo do valor ideal para compra.</li>
                        <li><span class="emphasis">Sugestão de Compra:</span> Com base no preço-teto e no preço atual, a
                            aplicação sugere se o usuário
                            deve comprar ou não o ativo.</li>
                        <li><span class="emphasis">Gestão de Carteira:</span> Permite que os usuários visualizem,
                            adicionem e removam ativos de sua
                            carteira, mantendo um histórico de decisões.</li>
                        <li><span class="emphasis">Interface Amigável:</span> O sistema conta com uma interface moderna
                            e responsiva desenvolvida em
                            Angular, facilitando o acesso às informações.</li>
                    </ul>

                    <div class="info-image">
                        <img src="assets/images/myinvest-2.png">
                        <img src="assets/images/myinvest-3.png">
                    </div>

                    <p class="info-title">- Detalhes técnicos -</p>
                    <ul class="info-ul2">
                        <li><span class="emphasis">Backend:</span>ASP.NET Core</li>
                        <li><span class="emphasis">Frontend:</span>Angular</li>
                        <li><span class="emphasis">Banco de Dados:</span>PostgresSql</li>
                        <li><span class="emphasis">Integrações e APIs utilizadas:</span>YahooFinance</li>
                    </ul>
                </div>

    </div>

    <div class="project">
        <p class="project-name">Minha Casa</p>
        <p class="description">O projeto MinhaCasa é uma plataforma robusta e intuitiva voltada para facilitar a
            experiência de compra, venda e aluguel de imóveis. Desenvolvido com as mais recentes tecnologias do mercado:
            Java,
            Spring Boot, Angular entre outros, o MinhaCasa oferece
            uma solução completa para usuários interessados no mercado imobiliário.</p>

        <p class="description">O objetivo desta plataforma é centralizar a oferta de imóveis de todos os tipos, conectando compradores e
            vendedores de forma eficiente. Ela permite que qualquer pessoa publique seus imóveis com facilidade e
            oferece aos compradores uma ferramenta avançada de filtros, permitindo a busca precisa por propriedades que
            atendam às suas necessidades, eliminando esforços desnecessários e otimizando a experiência de negociação.
        </p>

        <div class="image">
            <img src="assets/images/minhacasa-3.png">
            <img src="assets/images/minhacasa-4.png">
        </div>

        <button class="more-info-button" (click)="showMoreInfo('minhaCasa')" #minhaCasaMoreInfoButton>mais
            informações</button>

        <div class="info" #minhaCasaInfo>
            <p class="info-title">- Equipe de Desenvolvimento -</p>
            <p class="info-content"><a href="https://www.linkedin.com/in/gabrielcruzrodrigues/" target="_blank"><i
                        class="fa-brands fa-linkedin person-icon"></i></a>Gabriel Rodrigues (Autor e desenvolvedor)</p>

            <p class="info-title">- Github do projeto -</p>
            <p class="info-content"><a href="https://github.com/gabrielcruzrodrigues/MinhaCasa_Plataforma-comercial-de-imoveis" target="_blank"><i
                class="fa-brands fa-github person-icon"></i>clique aqui para conhecer o Github do projeto</a></p>

            <p class="info-title">- Video demonstrativo -</p>
            <div class="player">
                <iframe width="100%" height="100%" [src]="minhacasaUrlVideo" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>

            <p class="info-title">- Funcionalidades Principais -</p>
            <ul class="info-ul">
                <li><span class="emphasis">Super filtro:</span> Sendo este o principal diferencial da plataforma, o
                    super filtro possibilita uma busca exata e específica, eliminando resultados indesejados e
                    redundantes.</li>
                <li><span class="emphasis">Cadastro de imóveis interativo:</span> O cadastro na plataforma oferece
                    visualização prática das imagens selecionadas e um menu intuitivo, de fácil entendimento e uso.</li>
                <li><span class="emphasis">Dados personalizados de cada imóvel:</span> Além das informações básicas, o
                    usuário pode acessar diversos detalhes adicionais sobre o imóvel, uma funcionalidade que auxilia na
                    tomada da melhor decisão possível.</li>
                <li><span class="emphasis">Contato direto com o proprietário:</span> Ao acessar as informações do
                    imóvel, o usuário também tem acesso aos contatos do proprietário, incluindo e-mail, telefone e um
                    link direto para o WhatsApp.</li>
            </ul>

            <div class="info-image">
                <img src="assets/images/minhacasa-1.png">
                <img src="assets/images/minhacasa-2.png">
            </div>

            <p class="info-title">- Detalhes técnicos -</p>
            <ul class="info-ul2">
                <li><span class="emphasis">Backend:</span>Java | Spring Boot | Spring Security | Jpa | Hibernate | Docker</li>
                <li><span class="emphasis">Frontend:</span>Angular</li>
                <li><span class="emphasis">Banco de Dados:</span>PostgresSql</li>
            </ul>
        </div>
    </div>
</section>