<section class="main-section">
     <div class="headline">
          <p class="text-p1">Olá, eu sou</p><br>
          <h2 class="text-p2">Gabriel</h2><br>
          <h2 class="text-p2">Rodrigues</h2><br>
          <p class="text-p3">Desenvolvedor Full Stack</p>

          <div class="technologies">
               <img src="assets/images/c-sharp.png">
               <img src="assets/images/angular.png">
               <img src="assets/images/spring.png">
               <img src="assets/images/react.png">
               <img src="assets/images/php.png">
          </div>
     </div>
     <div class="image">
          <img src="assets/images/perfil-photo.png">
     </div>
</section>
